{% extends 'mysiteapp/base.html' %}
{% block content %}

<div id='content_wrapper'>
    <div id='left_side_wrapper'>
        <div id='recent_blog_posts'>
            <h3>Recent Blog Posts</h3>
            {% for blogside in blogsides %}
                <h6>
                    <a href='/blog/{{blogside.slug}}'
                        title='{{blogside.title}}'>{{blogside.title}}</a></br>
                    {{blogside.description}}
                </h6>
            {% endfor %}
        </div>
    </div>
    <!-- Center Page Content -->
    <div id='right_side_wrapper'>
        <div id='content'>
        {% if error %}
            <p style="color: red;">Please submit a search term.</p>
        {% endif %}
        <form action="/blogsearch/" method="get">
            <input type="text" name="q">
            <input type="submit" value="Search">
        </form>
        </br>

        <p>You searched for: <strong>{{query}}</strong></p>
        {% if blogs %}
            <p>Found {{blogs|length}} blog{{blogs|pluralize}}.</p>
            <ul>
                {% for blog in blogs %}
                    <a href='/blog/{{blog.slug}}'
                        title='{{blog.title}}'>{{blog.title}}</a>
                    <h6>{{blog.description}}</h6>
                {% endfor %}
            </ul>
        {% else %}
            <p>No blogs matched your search criteria.</p>
        {% endif %}
        </div>
    </div>
    <div class='clear'></div>
</div>

{% endblock content %}
